body{
    display: flex;
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat';
}

.nav-aulas{
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: #121212;
}
.nav-aulas header h1{
    color: #fff;
    margin-left: 20px;
}
.nav-aulas .lista {
    list-style-type: none;
}
.nav-aulas .lista .item{
    padding: 5px ;
}

.nav-aulas .lista .item .link{
    text-decoration: none;
    color: #fff;
}

#conteudo{
    padding: 20px;
    width: 80%;
    margin-left: 20%;
}